*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    max-width: 1100px;
}

html{
    scroll-behavior: smooth;    
    background-color: #20b2ab85;
}

body{
    font-family: 'Open Sans', 'sans-serif';
       
}



/* SECCION ENCABEZADO */

header, nav{
    text-align: center;
    margin: 15px;
}
header h1{
    font-size: 100px;
    margin: 0;

}

header h2 {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

nav ul, li{
    display: inline-block;
    margin: 0 10px 0 10px;
}


a{
    text-decoration: none;
    color: black;
    border: 2px solid #1f928d;
    border-radius: 20px;
    text-align: center;
    padding: 5px 5px;
    background-color: rgba(2, 63, 2, 0.25);
    font-weight: bolder;
}

nav a:hover{
    background-color: #20b2ab85;
    color: white;
}

nav a:active{
    color: aquamarine;
    background-color: cadetblue;
}



/* SECCION INICIO */

.inicio-contenedor{
    padding: 40px 0;    
}


.titulo-inicio{
    color: rgb(4, 59, 50);
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
}

.sobre-nosotros{
    display: flex;
    
}

.sobre-nosotros p{
    padding-right: 30px;
    font-size: 20px;
    background-color: #20b2ab11;
    padding: 10px;
    border-radius: 20px;
}

.img-logo{
    width: 350px;
    border: 2px solid white;
    box-shadow: 0 0 15px 0 rgb(0, 0, 0);
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 500px;
}

/* SECCION PORTAFOLIO */

.trabajos{
    text-align: center;
    
}

.titulo-p{
    color: rgb(4, 59, 50);
    text-align: center;
    font-size: 60px;
    padding: 50px 0 50px 0;
}

.nuestro-trabajo{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.676);
    border-radius: 10px;
}

.trabajos-img{  
    width: 400px;
      
}

.nuestro-trabajo p{
    text-align: center;
    /* padding: 0 0 10px 0; */
    
}
span{
    padding-top: 10px;
    position: center;

}